body {
  margin: 0;
  height: 100vh;
  background-image: url('../assets/congratulations.jpg');
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: azure;
}
